<div class="register-container">
    <h2>Edit Profile</h2>
    <form  #form="ngForm" (ngSubmit)="editProfile()">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" [(ngModel)]="userDetails.name" [disabled]="!editMode">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" name="email" class="form-control" [(ngModel)]="userDetails.email" [disabled]="!editMode">
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-primary" (click)="editProfile()">{{ editMode ? 'Save' : 'Edit' }}</button>
      </div>
    </form>
  </div>
  